.cic__container {
  display: flex;
  flex-direction: column;
  gap: 1px;

  label {
    font-size: 12px !important;
    font-weight: 400 !important;
    text-transform: capitalize;
    font-family: Figtree;
    margin-left: 2px;
    color: #000000 !important;
    text-align: left;
  }
  .label_req{
    color: #ff0000 !important;
    font-size: 12px !important;
  }

  input,
  select,
  option {
    font-weight: 400 !important;
    font-size: 12px !important;
  }

  .v-text-field {
    padding-top: 0px !important;
    margin-top: 0px !important;
    border-radius: 10px !important;
    box-shadow: none !important;

    .v-input__slot {
      &::before {
        content: none !important;
      }
    }
  }
}
