.totals_card {
    padding: $card-padding;
    margin: $card-margin;
    border: $card-border;
    border-radius: $card-border-radius;
    background: $card-bg;
    min-width: $small-card-min-weight;
    min-height: $small-card-min-height;
    box-shadow: none !important;
}
.filter_btn {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    span {
        font: var(--unnamed-font-style-normal) normal 800 var(--unnamed-font-size-12)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-manrope);
        letter-spacing: var(--unnamed-character-spacing-0-07);
        color: var(--unnamed-color-0a94ff);
        text-align: left;
        // font: normal normal 800 12px/17px Manrope;
        font-size: 10px !important;
        letter-spacing: 0.07px;
        color: #0A94FF;
        text-transform: uppercase;
    }
}
.totals_forecast_card {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
    padding: $card-padding;
    margin: $card-margin;
    border: $card-border;
    border-radius: $card-border-radius;
    background: $card-bg;
    min-width: $small-card-min-weight;
    min-height: 116px !important;
    max-height: 116px !important;
    box-shadow: none !important;
    span {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-manrope);
        color: var(--unnamed-color-7e84a3);
        text-align: left;
        font: normal normal normal 16px/22px Manrope;
        letter-spacing: 0.1px;
        color: #7E84A3;
        max-width: 70%;
    }
}